#blocks {
  border-style: solid;
  border-width: 1px;
  float: right;
  height: 100%;
  width: 20%;
}

.block-section {
  height: 16.6%;
}

.block-section-title {
  background-color: #ffc0cb;
  font-family: 'Kalam', cursive;
  text-align: center;
  height: 15%;
}

.block-section-content {
  background-color: #fff2f4;
  height: 90%;
  overflow: auto;
}

.block-input-output {
  background-color: red;
  height: 30px;
  width: 250px;
}

.block-read-input {
  width: 30%;
}

.block-print-input {
  width: 80%;
}

.block-variable {
  background-color: blue;
  height: 30px;
  width: 125px;
}

.block-variable-input {
  width: 60%;
}

.block-condition {
  background-color: yellow;
  height: 30px;
  width: 125px;
}

.block-condition-input {
  width: 60%;
}

.block-loop {
  background-color: purple;
  height: 30px;
  width: 125px;
}

.block-loop-input {
  width: 60%;
}

.block-function {
  background-color: orange;
  height: 30px;
  width: 296px;
}

.block-function-input {
  width: 35%;
}

.block-assignment {
  background-color: white;
  height: 30px;
  width: 296px;
}

.block-assignment-input {
  width: 30%;
}

#canvas {
  border-style: solid;
  border-width: 1px;
  height: 70%;
  margin-left: 20%;
  width: 60%;
}

#charms {
  height: 100vh;
}

#instructions {
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 70%;
  width: 20%;
}

.instructions-header {
  background-color: #fff2f4;
  height: 10%;
  width: 100%;
}

.instructions-title {
  font-family: 'Kalam', cursive;
  font-size: 30px;
  text-align:center;
}

.instructions-body {
  background-color: pink;
  height: 90%;
  padding: 20px 10px;
  width: 100%;
}

.instructions-spell {
  background-color: white;
  margin-top: 10%;
  height: 80%;
  width: 100%;
}

.spell-name {
  background-color: #fff2f4;
  font-family: 'Kalam', cursive;
  font-size: 25px;
  height: 10%;
  text-align:center;
  width: 100%;
}

.spell-content {
  background-color: #0000;
  height: 90%;
  width: 100%;
}

#spell-description {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  padding: 10% 5%;
  display: none;
}

#spell-todo {
  font-family: 'Kalam', cursive;
  font-size: 15px;
  padding: 10% 5%;
  display: none;
}

.instructions-navigator {
  height: 10%;
  width: 100%;
}

.arrows {
  margin-left: 35%;
}

#output {
  border-style: solid;
  border-width: 1px;
  height: 30%;
  width: 80%;
}