.show-code {
  display: inline-block;
  font-family: 'Kalam', cursive;
  height: 100vh;
  width: 100%;
}

.show-code-left {
  background-color: pink;
  float: left;
  height: 100%;
  width: 50%;
}

.show-code-right {
  background-color: red;
  float: right;
  height: 100%;
  width: 50%;
}
