<div class='block-section'>
  <div class='block-section-title'>
    <p>Input/Output</p>
  </div>
  <div class='block-section-content'>
    <div class='block-input-output' id='block-read' draggable='true' ondragstart='drag(event)'>
      <label>Read</label>
      <input type="text" class='block-read-input' name="block-read-input">
    </div>
    <div class='block-input-output' id='block-print' draggable='true' ondragstart='drag(event)'>
      <label>Print</label>
      <input type="text" class='block-print-input' name="block-print-input">
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Variables</p>
  </div>
  <div class='block-section-content'>
    <div class='block-variable' id='block-variable-int' draggable='true' ondragstart='drag(event)'>
      <label>Int</label>
      <input type="text" class='block-variable-input' name="block-variable-input">
    </div>
    <div class='block-variable' id='block-variable-bool' draggable='true' ondragstart='drag(event)'>
      <label>Bool</label>
      <input type="text" class='block-variable-input' name="block-variable-input">
    </div>
    <div class='block-variable' id='block-variable-char' draggable='true' ondragstart='drag(event)'>
      <label>Char</label>
      <input type="text" class='block-variable-input' name="block-variable-input">
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Condition</p>
  </div>
  <div class='block-section-content'>
    <div class='block-condition' id='block-if' draggable='true' ondragstart='drag(event)'>
      <label>If</label>
      <input type="text" class='block-condition-input' name="block-condition-input">
    </div>
    <div class='block-condition' id='block-else' draggable='true' ondragstart='drag(event)'>
      <label>Else</label>
    </div>
    <div class='block-condition' id='block-end-condition' draggable='true' ondragstart='drag(event)'>
      <label>End</label>
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Loop</p>
  </div>
  <div class='block-section-content'>
    <div class='block-loop' id='block-while' draggable='true' ondragstart='drag(event)'>
      <label>While</label>
      <input type="text" class='block-loop-input' name="block-loop-input">
    </div>
    <div class='block-loop' id='block-end-while' draggable='true' ondragstart='drag(event)'>
      <label>End</label>
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Function</p>
  </div>
  <div class='block-section-content'>
    <div class='block-function' id='block-function' draggable='true' ondragstart='drag(event)'>
      <label>Function</label>
      <input type="text" class='block-function-input' name="block-function-input">
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
    <div class='block-function' id='block-parameter' draggable='true' ondragstart='drag(event)'>
      <label>Parameter</label>
      <input type="text" class='block-function-input' name="block-function-input">
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
    <div class='block-function' id='block-end-function' draggable='true' ondragstart='drag(event)'>
      <label>End</label>
    </div>
    <div class='block-function' id='block-return' draggable='true' ondragstart='drag(event)'>
      <label>Return</label>
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
    <div class='block-function' id='block-call' draggable='true' ondragstart='drag(event)'>
      <label>Call</label>
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Assignment</p>
  </div>
  <div class='block-section-content'>
    <div class='block-assignment' id='block-assignment' draggable='true' ondragstart='drag(event)'>
      <input type="text" class='block-assignment-input' name="block-assignment-input">
      <label>=</label>
      <input type="text" class='block-assignment-input' name="block-assignment-input">
    </div>
  </div>
</div>
