<div class='block-section'>
  <div class='block-section-title'>
    <p>Input/Output</p>
  </div>
  <div class='block-section-content'>
    <div class='block-input-output'>
      <label>Read</label>
      <input type="text" class='block-read-input' name="block-read-input">
    </div>
    <div class='block-input-output'>
      <label>Print</label>
      <input type="text" class='block-print-input' name="block-print-input">
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Variables</p>
  </div>
  <div class='block-section-content'>
    <div class='block-variable'>
      <label>Int</label>
      <input type="text" class='block-variable-input' name="block-variable-input">
    </div>
    <div class='block-variable'>
      <label>Bool</label>
      <input type="text" class='block-variable-input' name="block-variable-input">
    </div>
    <div class='block-variable'>
      <label>Char</label>
      <input type="text" class='block-variable-input' name="block-variable-input">
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Condition</p>
  </div>
  <div class='block-section-content'>
    <div class='block-condition'>
      <label>If</label>
      <input type="text" class='block-condition-input' name="block-condition-input">
    </div>
    <div class='block-condition'>
      <label>Else</label>
    </div>
    <div class='block-condition'>
      <label>End</label>
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Loop</p>
  </div>
  <div class='block-section-content'>
    <div class='block-loop'>
      <label>While</label>
      <input type="text" class='block-loop-input' name="block-loop-input">
    </div>
    <div class='block-loop'>
      <label>End</label>
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Function</p>
  </div>
  <div class='block-section-content'>
    <div class='block-function'>
      <label>Function</label>
      <input type="text" class='block-function-input' name="block-function-input">
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
    <div class='block-function'>
      <label>Parameter</label>
      <input type="text" class='block-function-input' name="block-function-input">
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
    <div class='block-function'>
      <label>End</label>
    </div>
    <div class='block-function'>
      <label>Return</label>
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
    <div class='block-function'>
      <label>Call</label>
      <input type="text" class='block-function-input' name="block-function-input">
    </div>
  </div>
</div>
<div class='block-section'>
  <div class='block-section-title'>
    <p>Assignment</p>
  </div>
  <div class='block-section-content'>
    <div class='block-assignment'>
      <input type="text" class='block-assignment-input' name="block-assignment-input">
      <label>=</label>
      <input type="text" class='block-assignment-input' name="block-assignment-input">
    </div>
  </div>
</div>
