<div class='canvas-header'>
  <label>Charms</label>
</div>
<div id="block-canvas" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div class='canvas-footer'>
  <div class='canvas-footer-buttons'>
    <button class='canvas-button' type="button" id='btn-clear'>Clear canvas</button>
    <button class='canvas-button' type="button" id='btn-compile'>Compile code</button>
    <form action="/executeInputOutput/" method="post">
      {% csrf_token %}
      <button class='canvas-form-buttom' type="submit" id='btn-execute'>Execute code</button>
    </form>
  </div>
</div>
