{% load static %}
<!DOCTYPE html>
<html>
   <head>
     <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   </head>
   <body>
     {% load bootstrap3 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
     {% bootstrap_messages %}
     <div id='charms'>
       <div id='blocks'>
         <div class='block-section'>
           <div class='block-section-title'>
             <p>Input/Output</p>
           </div>
           <div class='block-section-content'>
           </div>
         </div>
         <div class='block-section'>
           <div class='block-section-title'>
             <p>Variables</p>
           </div>
           <div class='block-section-content'>
           </div>
         </div>
         <div class='block-section'>
           <div class='block-section-title'>
             <p>Condition</p>
           </div>
           <div class='block-section-content'>
           </div>
         </div>
         <div class='block-section'>
           <div class='block-section-title'>
             <p>Loop</p>
           </div>
           <div class='block-section-content'>
           </div>
         </div>
         <div class='block-section'>
           <div class='block-section-title'>
             <p>Function</p>
           </div>
           <div class='block-section-content'>
           </div>
         </div>
       </div>
       <div id='instructions'></div>
       <div id='canvas'>
         Charms
       </div>
       <div id='output'></div>
     </div>
   </body>
</html>
