<div class='instructions-header'>
  <div class='instructions-title'>
    <label>Choose a spell</label>
  </div>
</div>

<div class='instructions-body'>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Levitation</button>
      <button class="dropdown-item" type="button">Freezing</button>
    </div>
  </div>
  <div class='instructions-spell'>
  </div>
</div>
